.button {
    background-color: var(--text-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

